*, ::after, ::before {
  box-sizing: border-box;
}
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group::before,
.group::after { content:""; display:table; }
.group::after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


body {
  font-family: Poppins, sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
    width: 91.66%;
}
.span_10_of_12 {
    width: 83.33%;
}

.span_9_of_12 {
    width: 75%;
}

.span_8_of_12 {
    width: 66.66%;
}

.span_7_of_12 {
    width: 58.33%;
}

.span_6_of_12 {
    width: 50%;
}

.span_5_of_12 {
    width: 41.66%;
}

.span_4_of_12 {
    width: 33.33%;
}

.span_3_of_12 {
    width: 25%;
}

.span_2_of_12 {
    width: 16.66%;
}

.span_1_of_12 {
    width: 8.333%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.padding {
  padding-left: 9%;
  padding-right: 9%;
}

.dark-grey {
  background-color: #343A40;
  color: white;
}

.dark-blue {
  background-color: white;
  color: #212529;
}

.space {
  height: 10px;
}

.styless {
  list-style-type: none;
  margin: 0;
  margin-left: 70%;
}

.styless li a {
  display: block;
  float: left;
  margin-left: 3%;
  transition: all .15s ease-in-out;
  font-size: 16px;
}

/* li:nth-child(2) {
  margin-left: 60%;
} */

#nav-content {
  line-height: 50px;
}

#nav-title {
  font-size: 20px;
  float: left;
}

#logo {
  height: 25em;
  background-image: url('../images/sihq.jpeg');
  background-size: cover;
  background-position: 0 45%;
  filter: brightness(.5);
  -webkit-filter: brightness(.5);
  transition: all .15s ease-in-out;
}

#logo:hover {
  filter: brightness(.9);
  -webkit-filter: brightness(.9);
  transition: all .15s ease-in-out;
}

.cap {
  text-transform: capitalize;
}

.bold {
  font-weight: 700;
}

#contact p {
  margin: 0;
}

.big-card-container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25em;
  word-wrap: break-word;
}

.card-text {
  flex: 1 1 auto;
  padding: 1.25em;
}

.card-footer {
  margin: 0;
  padding: .75em 1.25em;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
  border-radius: 0 0
                calc(.25em - 1px)
                calc(.25em - 1px);
}